body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.icon {
  font-size: 1.5em;
}

.heroes-menu {
  list-style-type: none;
  max-height: 96vh;
  overflow-y: auto;
  width: 230px;
  padding: 13px 22px;
  box-shadow: 5px 10px 15px 5px rgba(0,0,0,.1);
  margin: 1px;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-track {
    background-color: #FFF;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #CCC;
    &:hover {
      background-color: #747474;
    }
  }

  li {
    padding: 5px 10px;
    cursor: pointer;
    display: flex;

    &:hover {
      background: #444;
      color: #fff;
    }
  }
}

.heroe-details {
  width: 400px;
  padding: 40px 50px;
}
